body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.highlight {
    color: #32CD32;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.generate-button {
    background-color: #32CD32;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.generate-button:hover {
    background-color: #28a745;
}

.passwords {
    margin-top: 2rem;
}

.password {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: #f0f0f0; 
}
